<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Luxurious+Roman&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
    <title>Presidential Database</title>
</head>

<body>
  <nav id="navBar">
    <div>
      <a href="/"><h1 id="navTitle">Presidential Database</h1></a>
    </div>
    <div class="searchBar">
      <form>
        <input name="color" id="input" list="presData" class="search-bar"/>
      </form>
      <datalist id="presData">
        {{#each presidents}}
        <option>{{name}}</option>
        {{/each}}
      </datalist>
      <button id="button" class="navBtn">Search</button>
      {{#if loggedIn}}
      <button id="logoutButton">logout</button>
      {{else}}
      <a href="/login"><button id="logButton" class="navBtn">login</button></a>
      <a href="/signup"><button id="signupButton" class="navBtn">signup</button></a>
      {{/if}}
      
    </div>
  </nav>
  {{{body}}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/search.js"></script>
</body>

</html>