<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <nav id="navBar">
    <div id="navBarCenter">
      <span>
        <h1>Blog Posts</h1>
      </span>
    </div>
  </nav>
<div>{{{body}}}</div>
</body>

</html>