<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Presidential Database</title>
</head>

<body>
  <nav id="navBar">
    <div>
      <h1 id="navTitle">Presidential Database</h1>
    </div>
    <div class="searchBar">
      <form>
        <input name="color" id="input" list="presData" />
      </form>
      <datalist id="presData">
        {{#each presidents}}
        <option>{{name}}</option>
        {{/each}}
      </datalist>
      <button id="button">Search</button>
    </div>
  </nav>
  {{{body}}}
  <script src="/js/search.js"></script>
</body>

</html>