@import url('https://fonts.googleapis.com/css2?family=Lora&family=Luxurious+Roman&display=swap');

* {
  font-family: 'Lora', serif;
}

html, * {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  color: var(--text);
}


:root {
  --main: #999FAD;
  --secondary: #D2D4DB;
  --offset: #DAD2BC;
  --text: #252323;
  --shadow: #25232399;
}

body {
  min-width: fit-content;
}

#navBar {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--main)
}

#navBar > div > h1 {
  font-size: 5rem;
}

.search-bar {
  padding: .3rem 2rem;
  border-radius: .3rem;
  margin-bottom: .3rem;
  width: 100%;
}

.navBtn{
  padding: .2rem;
  border-radius: .3rem;
  margin: 0 2rem;
  background-color: var(--secondary);
  transition: 1s color;
  transition: 1s background-color;
}

.navBtn:hover{
  background-color: var(--text);
  color: var(--secondary);
}

a {
  text-decoration: none;
}

#navTitle {
  /* font-family: 'Luxurious Roman', cursive; */
  flex-basis: 100%;
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
}

#navBar > div > a {

}

#mainContainerMultiple {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: min-content;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem;
  background-color: var(--main);
}

#mainContainerSingle {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 5rem 15rem;
  background-color: var(--main);
  min-height: 100vh;
}

#image {
  grid-area: image;
  border-radius: .5rem;
  width: 100%;
  height:auto;
}

#name {
  grid-area: name;
  font-size: 2rem;
  height: min-content;
  border-bottom: .1rem solid var(--text);
}

#number {
  grid-area: number;
  height: min-content;
}

#description {
  grid-area: description;
  padding-top: 1.5rem;
  border-top: .1rem solid var(--text);
}

#party {
  grid-area: party;

}

#years {
  grid-area: years;
  align-self: end;
}

#presContainer {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  justify-items: center;
  border-width: .1rem;
  border-color: var(--shadow);
  border-style: solid;
  row-gap: 1rem;
  background-color: var(--secondary);
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: .2rem .6rem 1rem var(--shadow)
}

.login-page, .signup-page {
  background-color: var(--secondary);
  min-height: 100vh;
  padding: 1rem 10rem;
}

.login-page .page-header, .signup-page .page-header {
  text-align: center;
  font-size: 2rem;
}

.login-page .login-form, .signup-page .signup-form {
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  flex: none;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.form-group .form-input {
  flex: 1 1 100%;
  display: block;
  margin-bottom: 10px;
  border: 0;
  line-height: 1.5rem;
}

.form-group .form-submit-btn {
  height: 50px;
  border: none;
  font-size: 1rem;
  margin-top: 1.5rem;
  background-color: var(--main);
}
.form-group .form-submit-btn:hover {
  color: var(--secondary);
}

@media screen and (max-width: 812px) {
  #mainContainerMultiple {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .login-page, .signup-page {
    padding: 1rem 5rem;
  }
}

@media screen and (max-width: 400px) {
  #mainContainerMultiple {
    grid-template-columns: repeat(1, 1fr);
  }
}