html, * {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  color: var(--text);
}

:root {
  --main: #999FAD;
  --secondary: #D2D4DB;
  --offset: #DAD2BC;
  --text: #252323;
}

body {
  min-width: fit-content;
}

#navBar {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--main)
}

input{
  padding: .3rem;
  border-radius: .3rem;
}

button{
  padding: .2rem;
  border-radius: .3rem;
}

#navTitle {
  flex-basis: 100%;
  font-size: 3rem;
}

#mainContainerMultiple {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem;
  background-color: var(--main);
}

#mainContainerSingle {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 5rem 15rem;
  background-color: var(--main);
  min-height: 100vh;
}

#image {
  grid-area: image;
  border-radius: .5rem;
  max-width: 21rem;
  max-height: 21rem;
}

#name {
  grid-area: name;
  height: min-content;
}

#number {
  grid-area: number;
  height: min-content;
}

#description {
  grid-area: description;
}

#party {
  grid-area: party;
}

#years {
  grid-area: years;
  align-self: end;
}

#presContainer {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  justify-items: center;
  row-gap: 1rem;
  background-color: var(--secondary);
  border-radius: .5rem;
  padding: 1rem;
}

.login-page, .signup-page {
  background-color: var(--offset);
  min-height: 100vh;
  padding: 1rem 10rem;
}

.login-page .page-header, .signup-page .page-header {
  text-align: center;
  font-size: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  flex: none;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.form-group .form-input {
  flex: 1 1 100%;
  display: block;
  margin-bottom: 10px;
  border: 0;
  line-height: 1.5rem;
}

.form-group .form-submit-btn {
  height: 50px;
  border: none;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.form-group .form-submit-btn:hover {
  background-color: var(--secondary);
}

@media screen and (max-width: 812px) {
  #mainContainerMultiple {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .login-page, .signup-page {
    padding: 1rem 5rem;
  }
}

@media screen and (max-width: 400px) {
  #mainContainerMultiple {
    grid-template-columns: repeat(2, 1fr);
  }
}